<!DOCTYPE html>
<html>
  <head>
    <title><%= Heading %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Name %></h1>
    <p>Welcome to <%= Name %></p>
    <h2>This is contact: <%=Number%></h2>
  </body>
</html>