<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <nav>
        <h2 class="logo"><span>Ham</span>dard</h2>
        <div class="links">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">ADMISSIONS</a>
            <a href="#">FACILITIES</a>
            <a href="#">CONTACTS</a>
        </div>
        <form class="d-flex" action="/search" role="search">
            <input class="form-control me-2" name="querry" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
</body>
</html>



